
/* Fonts */

@font-face{
  src: url('fonts/Roboto/Roboto-Regular.ttf');
  font-family: roboto;
}

/* All */

*{
  font-family: roboto, arial;
}


/* <hr> */

hr{
  border: 2x solid lightgray;
  border-radius: 5px;
}

/* <button> */

button{
  background-color: #ededed;
  border: 1px solid #e0e0e0;
  padding: 7.5px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
}

button:hover{
  background-color: white;
}

button:focus{
  outline: none;
  border-color: #96b8ef;
}

button:active{
  background-color: #e3e3e3;
  border-color: #c9c9c9;
}

/* <a> */

a:link{
  color: #1a73e8;
}

a:visited{
  color: #6e34eb;
}

a:link, a:visited{
  text-decoration: none;
  transition: color 0.2s;
}

a:link:hover, a:visited:hover{
  text-decoration: underline;
}

a:link:active, a:visited:active{
  color: #eb6834;
}

/* <input> */

input{
  border: 1px solid #e0e0e0;
  padding: 7.5px;
  border-radius: 5px;
  font-size: 18px;
  transition: border-color 0.5s, background-color 0.5s;
}

input:focus{
  outline: none;
  border-color: #96b8ef;
}

/* <input type="submit"> */

input[type=submit]{
  cursor: pointer;
}

/* <input type="checkbox"> */

input[type=checkbox]{

}

input[type=checkbox]:hover{

}

input[type=checkbox]:active{

}

/* <input type="submit"> */

input[type=submit]{
  background-color: #ededed;
}

input[type=submit]:hover{
  background-color: white;
}

input[type=submit]:active{
  background-color: #e3e3e3;
  border-color: #c9c9c9;
}

/* <table> <tr> <th> <td> */

table, tr, th, td{
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 10px;
}

th{
  background-color: #eee;
}

/* <code> */

code{
  font-family: monospace;
  padding: 5px;
  border-radius: 5px;
  background-color: #E8E8E8;
}
